@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(https://fonts.googleapis.com/css?family=Oswald);


body{
  margin: 0px; padding 0px; background-color: black; overflow: hidden;
}

nav {

-webkit-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
-moz-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);

}


ul {
   
	 font-family: Roboto, sans-serif;
	 font-size: .8em;
	 color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
/*    background-color: #E8C66A;*/
}

li {
    float: right;
}

li a {
    	 font-family: Roboto, sans-serif;
    display: block;
    color: gray;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.column {
    float: left;
    width: 415px;
    height: 500px;
    padding: 20px;
    margin: 0;
}

.column h2 {
    text-align: center;
}

#column1{

    background-color: 005756;
    height: 420;
}

#column2{
    background-color: #004F4F;
    height: 420;
}

#column3{
    background-color: 005756;
    height: 420;
}

#aboutp {
    background-color: #004F4F;
    -webkit-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
    -moz-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
    box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
     color: white;
    font-family: Roboto, Noto, serif;
    font-weight:100;
     font-size: .9em;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 0.0em;
    margin-left: 10;
    margin-right:10;
}

#aboutp2 {
    background-color: #004F4F;
    -webkit-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
    -moz-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
    box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
     color: white;
    font-family: Roboto, Noto, serif;
    font-weight:100;
     font-size: .9em;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 0.0em;
    margin-left: 10;
    margin-right:10;
}

#aboutp3 {
    background-color: #004F4F;
    -webkit-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
    -moz-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
    box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
     color: white;
    font-family: Roboto, Noto, serif;
    font-weight:100;
     font-size: .9em;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 0.0em;
    margin-left: 10;
    margin-right:10;
}










h1 { 
	color: white;
    font-family: Oswald, sans-serif;
    display: block;
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;

}

#about { 
	color: #004F4F;
    font-family: Oswald, sans-serif;
    display: block;
    text-align: center;
    font-size: 3.5em;
    margin-top: 5px;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
}

#abouth2 {

color: white;
font-family: Roboto, Noto, serif;
font-weight:900;
text-align: center;
color: white;

}

#aboutsec {
    background-color: gray
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "";
    clear: both;
    height: 0;
}

p {
    color: white;
    font-family: Roboto, Noto, serif;
    font-weight:400;

}

h2 {
	color: gray;
    font-family: Roboto, Noto, serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    font-weight: 100;
}

}

h3 {
	color: white;
    font-family: Roboto, Noto, serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}






