@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(https://fonts.googleapis.com/css?family=Oswald);


body{
  margin: 0px; padding 0px; background-color: black; overflow: hidden;
}

#conbody {

  margin: 0px; padding 0px; background-color: black; overflow: scroll;

}

ul {
   
	 font-family: Roboto, sans-serif;
	 font-size: .8em;
	 color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
-webkit-box-shadow: -1px 31px 58px 20px rgba(222,215,222,0.1);
-moz-box-shadow: -1px 31px 58px 20px rgba(222,215,222,0.1);
box-shadow: -1px 31px 58px 20px rgba(222,215,222,0.1);
}

li {
    float: right;
}

li a {
    	 font-family: Roboto, sans-serif;
    display: block;
    color: 00C5BE;
    font-weight: 900;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}


  /*  #buttons {
      margin-left: 20px;
    }*/
    
/*    #buttons > * {
      margin: 10px
    }*/
    
 
    .button {
      display: inline-block;
      position: relative;
      width: 418px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
      padding-left: 20px;
    }
    
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
    
    .button.narrow {
      width: 60px;
    }
    
    .button.blue {
      background-color: #4285f4;
      color: #fff;
      margin-left: 5px;
    }
    
    .button.green {
      background-color: #297891;
      color: #fff;
      margin-left: 10px
    }

   .button.green2 {
      background-color: #297891;
      color: #fff;
    }
    
    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
    }
    



h1 { 
    color: 00A4D1;
    font-family: Oswald, sans-serif;
    display: block;
    font-size: 3.5em;
    margin-top: 40px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;

}

h1 a:link,
h1 a:visited {
    color: #00594E;
}

#buttons a:link,
#buttons a:visited {
    color: white;
}
*/

p {
    color: white;
    font-family: Roboto, Noto, serif;
    font-weight:400;

}

h2 {
    color: gray;
    font-family: Roboto, Noto, serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    font-weight: 100;
}

}

h3 {
    color: white;
    font-family: Roboto, Noto, serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


#about { 
    color: 00846F;
    font-family: Oswald, sans-serif;
    display: block;
    text-align: center;
    font-size: 3.5em;
    margin-top: 5px;
    margin-bottom: .5em;
    margin-left: 0;
    margin-right: 0;
}

#contenth1 { 
    color: 00594E;
    font-family: Oswald, sans-serif;
    display: block;
    text-align: center;
    font-size: 3em;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
}

#content2 {
font-size: 1.5em;
    padding-bottom: 10px;
}

#vrd {
    color: gray;
    margin-left: 100;
    margin-right: 100;
}



/*columns for "About" page*/



                                                        .column {
                                                            float: left;
                                                            width: 430px;
                                                            height: 800px;
                                                            padding: 10px;
                                                            margin: 0;
                                                        }

                                                        .column h2 {
                                                            text-align: center;
                                                        }

                                                        #column1{

                                                            background-color: 00846F;
                                                            height: 430;
                                                        }

                                                        #column2{
                                                            background-color: 00594E;
                                                            height: 430;
                                                        }

                                                        #column3{
                                                            background-color: 00846F;
                                                            height: 430;
                                                        }

                                                        #aboutp {
                                                            color: white;
                                                            -webkit-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                            -moz-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                            box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                             font-family: Roboto, Noto, serif;
                                                            font-weight:100;
                                                             font-size: .9em;
                                                             padding-left: 20px;
                                                             padding-right: 20px;
                                                             padding-top: 20px;
                                                             padding-bottom: 20px;
                                                            margin-top: 20px;
                                                            margin-bottom: 0.0em;
                                                            margin-left: 20;
                                                            margin-right:20;
                                                        }


                                                        #aboutp2 {
                                                            background-color: #004F4F;
                                                            -webkit-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                            -moz-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                            box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                             color: white;
                                                            font-family: Roboto, Noto, serif;
                                                            font-weight:100;
                                                             font-size: .9em;
                                                             padding-left: 20px;
                                                             padding-right: 20px;
                                                             padding-top: 20px;
                                                             padding-bottom: 20px;
                                                            margin-top: 20px;
                                                            margin-bottom: 0.0em;
                                                            margin-left: 20;
                                                            margin-right:20;
                                                        }

                                                        #aboutp3 {
                                                            background-color: #00917F;
                                                            -webkit-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                            -moz-box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                            box-shadow: 2px 10px 20px 5px rgba(41,41,41,0.45);
                                                             color: white;
                                                            font-family: Roboto, Noto, serif;
                                                            font-weight:100;
                                                             font-size: .9em;
                                                             padding-left: 20px;
                                                             padding-right: 20px;
                                                             padding-top: 20px;
                                                             padding-bottom: 20px;
                                                            margin-top: 20px;
                                                            margin-bottom: 0.0em;
                                                            margin-left: 20;
                                                            margin-right:20;
                                                        }



                                                        #abouth2 {

                                                        text-align: center;
                                                        color: white;
                                                        font-family: Roboto, Noto, serif;
                                                        font-weight:900;
                                                        text-align: center;
                                                        color: white;

                                                        }

                                                        #aboutsec {
                                                            background-color: gray
                                                            overflow: hidden;
                                                        }

                                                        .clearfix:after {
                                                            visibility: hidden;
                                                            display: block;
                                                            font-size: 0;
                                                            content: "";
                                                            clear: both;
                                                            height: 0;
                                                        }

/*tiles for content page*/

.imgWrap {
    float: left;
  position: relative;
  height: 325px;
  width: 440px;
}

.imgDescription {
  position: absolute;
  top: 10;
  bottom: 10;
  left: 40;
  right: 10;
  background: rgba(29, 106, 154, 0.72);
      color: white;
    font-family: Roboto, Noto, serif;
      font-weight:100;
                                                             font-size: .9em;
                                                             padding-left: 10px;
                                                             padding-right: 10px;
                                                             padding-top: 10px;
                                                             padding-bottom: 10px;
                                                            margin-top: 20px;
                                                            margin-bottom: 0.0em;
                                                            margin-left: 10;
                                                            margin-right:10;                                                      


  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility opacity 0.2s;

}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}


       .clearfix:after {
                                                            visibility: hidden;
                                                            display: block;
                                                            font-size: 0;
                                                            content: "";
                                                            clear: both;
                                                            height: 0;
                                                        }




