@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body{
  margin: 0px; padding 0px; background-color: black; overflow: hidden;
}

ul {
   
	 font-family: Roboto, sans-serif;
	 font-size: .8em;
	 color: gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    	 font-family: Roboto, sans-serif;
    display: block;
    color: gray;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}



h1 { 
	color: white;
    font-family: Oswald, sans-serif;
    display: block;
    font-size: 3.5em;
    margin-top: 20px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
}

p {
    color: white;
    font-family: Roboto, Noto, serif;
    font-weight:400;

}

h2 {
	color: gray;
    font-family: Roboto, Noto, sans-serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


}

h3 {
	color: white;
    font-family: Roboto, Noto, sans-serif;
    display: block;
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 0.0em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#myHeader {
	font-style: italic;
}

#content {
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color: white;
}




